@page "/"
<PageTitle>Robobobatron's Stream Bot</PageTitle>

<div class="content">
    <div class="row">Show Drunk Rules? <button>Show</button></div>
    <div class="row">Show test window? <button>Show</button></div>
    <div class="row">Add Game?</div>
    <div class="row">Active Game</div>
</div>
<div= class="content"></div>